<?xml version="1.0" encoding="utf-8"?>
<DataType Key="28c3d25f-7665-4499-9c45-b0d49bbacb42" Alias="BL - Standard Page" Level="2">
  <Info>
    <Name>BL - Standard Page</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <EditorUIAlias>Umb.PropertyEditorUi.BlockList</EditorUIAlias>
    <Folder>BL</Folder>
  </Info>
  <Config><![CDATA[{
  "blocks": [
    {
      "contentElementTypeKey": "58cd990a-e9cd-41f6-9f78-86d60e6e4790",
      "label": "Hero Banner - {=title | fallback:Untitled}"
    }
  ]
}]]></Config>
</DataType>
