@model Brand.Core.Compositions.Header.HeaderViewModel
<header style="border: 1px dashed #888; padding: 1rem; margin-bottom: 1rem;">
    <strong>[Header]</strong>
    @if (Model.Logo is not null)
    {
        <div>Logo: <img src="@Model.Logo.Url()" alt="" style="max-height: 40px; vertical-align: middle;" /></div>
    }
    else
    {
        <div><em>no logo set</em></div>
    }
</header>
